body {
    display: flex;
    flex-direction: column;
    background-color: #ffd8f2;
    margin: 0px;
}

a {
    color: blue;
}

a:visited {
    color: black;
}

a:hover {
    color: #4cff00;
}

header {
    order: 0;
    background-color: #ffbae8;
    width: 99vw;
    padding: 1vw;
    margin: 0px auto;
}

#header-first {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #ffbae8;
}

#header-png-2{
    width: 10vw;
    height: 10vw;
}

#page-name-1 {
    flex: 10;
    align-content: end;
    text-align: center;
}

#page-name-2 {
    text-align: center;
    height: auto;
    background-color: #ff94db;
    max-width: 300px;
    width: auto;
}

#header-navigation {
    padding: 5px;
    max-height: 100px;
    background-color: #ff94db;
    width: auto;
    height: auto;
}

#main {
    word-wrap: anywhere;
    order: 3;
    padding: 1vw;
    margin: 20px auto;
    background-color: #ffbae8;
    width: 99vw;
}

#main-table {
    order: 2;
    padding: 1vw;
    margin: 20px auto;
    background-color: #ffbae8;
    width: 99vw;
    text-align: center;
    overflow-x: auto;
}

.sometable {
    border: 3px solid;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffbae8;
    margin: 20px auto;
}

    .sometable th, td {
        border: 1px solid;
        text-align: center;
        padding: 4px 8px;
    }

    .sometable tr:nth-of-type(even) {
        background-color: #ff94db;
    }

#form {
    order: 4;
    margin: 20px auto;
    padding: 1vw;
    background-color: #ffbae8;
    width: 99vw;
    text-align: center;
}

footer {
    order: 5;
    width: 100vw;
    background-color: #ffbae8;
    padding: 1vw;
    text-align: center;
    align-self: flex-end;
}

@media screen and (min-device-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: #ffd8f2;
        margin: 0px;
        justify-content: center;
    }

    a {
        color: blue;
    }

    a:visited {
        color: black;
    }

    a:hover {
        color: #4cff00;
    }

    header {
        order: 0;
        background-color: #ffbae8;
        width: 98.9%;
        padding: 10px;
        margin: 0px auto;
    }

    #header-first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffbae8;
        width: 960px;
        margin: 0 auto 0 auto;
    }

    #header-png-1 {
        flex: 13;
    }

    #header-png-2 {
        width: 100px;
        height: 100px;
    }

    #page-name-1 {
        flex: 10;
        align-content: end;
        text-align: center;
    }

    #page-name-2 {
        background-color: #ff94db;
        margin: 0 auto 0 auto;
    }

    #header-navigation {
        flex: 10;
        background-color: #ff94db;
        text-align: center;
    }

    #header-navigation2 {
        background-color: #ff94db;
    }

    #main {
        order: 2;
        padding-top: 10px;
        padding-left: 25px;
        margin: 20px auto;
        background-color: #ffbae8;
        width: 960px;
        padding-bottom: 10px;
    }

    #main-table {
        order: 3;
        padding: 10px;
        margin: 20px auto;
        background-color: #ffbae8;
        width: 960px;
        padding-bottom: 10px;
        text-align: center;
        overflow-x: auto;
    }

    .sometable {
        border: 3px solid;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #ffbae8;
        margin: 20px auto;
    }

    .sometable th, td {
        border: 1px solid;
        text-align: center;
        padding: 4px 8px;
    }

    .sometable tr:nth-of-type(even) {
        background-color: #ff94db;
    }

    #form {
        order: 4;
        margin: 20px auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        background-color: #ffbae8;
        width: 960px;
        text-align: center;
    }

    footer {
        order: 5;
        width: 98.9%;
        background-color: #ffbae8;
        padding: 10px;
        text-align: center;
    }
}