a {
    color: #FFFF00;
}

a:visited {
    color: black;
}

a:hover {
    color: #4cff00;
}

.sometable {
    width: 5px;
    border: 3px solid;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #EEaaEE;
    margin: 20px auto;
}

.sometable th, td {
    border: 1px solid;
    text-align: center;
    padding: 4px 8px;
}

    .sometable tr:nth-of-type(even) {
        background-color: #EE82EE;
    }

#img-1 {
    width: 40vw;
    height: 30vw;
}

#img-2 {
    width: 40vw;
    height: 30vw;
}

#img-3 {
    width: 40vw;
    height: 30vw;
}

#flower {
    width: 45vw;
}

@media screen and (min-device-width: 768.98px) {

    #main1 {
        order: 1;
    }

    #calculator {
        order: 2;
    }

    #table {
        order: 3;
    }

    #form1 {
        order: 4;
    }

    #img-1{
        width: 240px;
        height: 180px;
    }

    #img-2 {
        width: 240px;
        height: 180px;
    }

    #img-3 {
        width: 240px;
        height: 180px;
    }

    #flower {
        width: 240px;
        height: 180px;
    }
}