body
{
    background-color: #ffd8f2;
    margin: 0px;
}

a
{
    color: blue;
}

a:visited
{
    color: black;
}

a:hover
{
    color: #4cff00;
}

header
{
    background-color: #ffbae8;
    width: 98.9%;
    padding: 10px;
    margin: 0px auto;
    height: 120px;
}

#header-first {
    margin: 0px auto 0 auto;
    background-color: #ffbae8;
    max-width: 960px;
}

#header-second 
{
    margin: 0 0 0 10px;
    max-width: 200px;
    float: left;
    background-color: #ff94db;
    display: block;
}

#header-png 
{
    float: left;
    width: 100px;
    height: 100px;
}

#page-name
{
    text-align: center;
    height: auto;
    margin: 85px auto 0 auto;
    background-color: #ff94db;
    max-width: 300px;
}

#header-navigation 
{
    padding: 5px;
    float: right;
    display: block;
    max-height: 100px;
    background-color: #ff94db;
}

#block {
    width: 300px;
    max-height: 120px;
    background-color: #ff94db;
    display: inline;
    padding: 10px;
    line-height: 1.5;
    position: fixed;
}

#main
{
    padding-top: 10px;
    padding-left: 25px;
    margin: 20px auto;
    background-color: #ffbae8;
    max-width: 960px;
    padding-bottom: 10px;
}

#main-table {
    padding: 10px;
    margin: 20px auto;
    background-color: #ffbae8;
    max-width: 960px;
    padding-bottom: 10px;
    text-align: center;
    overflow-x: auto;
}

.sometable {
    border: 3px solid;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffbae8;
    margin: 20px auto;
}

.sometable th, td {
    border: 1px solid;
    text-align: center;
    padding: 4px 8px;
}

.sometable tr:nth-of-type(even) {
    background-color: #ff94db;
}

#form 
{
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: #ffbae8;
    max-width: 960px;
    text-align: center;
}

#footer 
{
    width: 98.9%;
    background-color: #ffbae8;
    padding: 10px;
    text-align: center;
    bottom: 0;
}